html {
  font-size: 10px;
  color: #fff;
  background-color: #584e61;
}

* {box-sizing: border-box}

@font-face {
  font-family: MontserratRegular;
  src: url(fonts/MontserratRegular.ttf);
}

body {
  font-family: MontserratRegular;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:visited {
  color: #fff;
}

.main-menu {
  text-decoration: none;
  color: #ccccd3;
}

ul {
  display: none;
  list-style: none;
  float: left;
}

.positioner1 {
  width: 100%;
  background-color: #373c3f;
}

.positioner1::after {
    display: table;
    content: "";
    clear: both;
}

.navigation {
  display: inline-block;
  float: left;

  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ ul {
    display: block
}

label {
  width: 4.1rem;
  height: 4rem;
  display: block;
  float: right;
  background: #202529 url('images/menu1.png') no-repeat 50% 50%;
}

header {
  display: block;
  width: 100%;
  background: linear-gradient(119deg, #19b4c6, #078aa4);
  padding-bottom: 5rem;
}

.header-text {
  font-size: 1.4rem;
  width: 22.3rem;
  margin-top: 5.8rem;
  margin-bottom: 2rem;
  margin-left: 2.7rem;
}

.header-link {
  display: block;
  font-size: 1.5rem;
  margin-left: 2.7rem;
}

.left-text {
  width: 6rem;
  color: #7fd0dc;
  font-size: 0.6rem;
  margin-right: 3rem;
}

.right-text {
  width: 1rem;
}

.positioner2 {
  width: 100%;
  background: #27212c;
}

.positioner2::after {
    display: table;
    content: "";
    clear: both;
}

.PSD-text {
  display: block;
  float: left;
  color: #847590;
  margin-left: 2.7rem;
  margin-top: 3.2rem;
  margin-bottom: 2.9rem;
}

.PSD-link {
  display: block;
  float: right;
  width: 5rem;
  background-color: #bc3183;
  padding-top: 3.1rem;
  padding-bottom: 3.4rem;
  padding-left: 3.3rem;
  padding-right: 3.3rem;
}

.positioner3 {
  width: 100%;
  background: #5b0fa1;
}

.positioner3::after {
    display: table;
    content: "";
    clear: both;
}

.images {
  display: block;
  width: 100%;
}

.next-image {
  padding: 12rem 0;
  padding-left: 15.2rem;
}

.positioner4 {
  width: 100%;
  background: #ebebeb;
  padding-top: 3.6rem;
  padding-bottom: 5.2rem;
}

.positioner4::after {
    display: table;
    content: "";
    clear: both;
}

h2 {
  margin-left: 3.9rem;
  margin-top: 0rem;
  margin-bottom: 2.6rem;
  color: #088ca5;
}

.textbox-1 {
  width: 72%;
  color: #515151;
  margin-left: 3.9rem;
}

.textbox-2 {
  display: none;
}

@media only screen and (min-device-width: 640px) and (min-width: 640px){
  .left-text {
    font-size: 1rem;
  }

  .PSD-link {
    font-size: 2.5
  }

  .next-image {
    font-size: 5.6rem;
  }

  .textbox-1 {
    font-size: 1.5rem;
  }
}


@media only screen and (min-width: 980px) {
  ul {
    display: block;
    float: left;
  }

  label, .navigation {
    display: none;
  }

  li {
    display: inline;
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }

  .header-text {
    width: 67rem;
    font-size: 4.5rem;
  }

  li:nth-child(1) {
    margin-left: 0;
  }

  .left-text, .right-text {
    font-size: 2rem;
  }

  .PSD-link {
    font-size: 3.5rem;
  }

  .images {
    float: left;
    display: block;
    width: 33.33%;
  }


  .next-image {
    padding: 0;
    padding-top: 12rem;
    padding-left: 15rem;
    font-size: 3.5rem;
  }
  .positioner4 {
    padding-top: 1.6rem;
    padding-bottom: 2.2rem;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 0.6rem;
  }

  .textbox-1, .textbox-2 {
    font-size: 1rem;
    width: 36rem;
  }

  .textbox-2 {
    display: block;
    color: #515151;
    margin-left: 2rem;
  }

  .block1 {
    display: block;
    float: left;
  }
}

@media only screen and (min-width: 1024px){
  .next-image {
    padding-top: 3.5rem;
    padding-left: 5rem;
  }

  .textbox-2 {
    margin-left: 5rem;
  }
}
